spring:
  application:
    name: budgetapp
  datasource:
    url: jdbc:h2:mem:budgetdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration-milliseconds: 86400000 # 24 hours

logging:
  level:
    org.springframework.web: INFO
    com.example.budgetapp: DEBUG
